# Database
DB_DSN=postgresql+asyncpg://user:password@postgres/database

# Redis
REDIS_DSN=redis://redis

# Auth
JWT_SECRET_KEY=change-me
AUTH_USERNAME=user
AUTH_PASSWORD=change-me

# Logging
LOGGING_LEVEL=DEBUG
